In [5]:
import pandas as pd
df = pd.read_csv('ULTJ.JK.csv', usecols=['Date', 'Open'])
df

           Date    Open
0    2022-06-15  1470.0
1    2022-06-16  1460.0
2    2022-06-17  1450.0
3    2022-06-20  1475.0
4    2022-06-21  1455.0
..          ...     ...
243  2023-06-09  1685.0
244  2023-06-12  1690.0
245  2023-06-13  1740.0
246  2023-06-14  1760.0
247  2023-06-15  1755.0

[248 rows x 2 columns]