In [2]:
import pandas as pd
df = pd.read_csv('GIAA.JK.csv', usecols=['Date', 'Open'])
df

           Date   Open
0    2022-06-15  222.0
1    2022-06-16  222.0
2    2022-06-17  222.0
3    2022-06-20  222.0
4    2022-06-21  222.0
..          ...    ...
243  2023-06-09   65.0
244  2023-06-12   65.0
245  2023-06-13   65.0
246  2023-06-14    NaN
247  2023-06-15   65.0

[248 rows x 2 columns]